torch==2.1.1
torchvision
transformers
opencv-python==4.9.0.80
accelerate==0.26.1
insightface==0.7.3
diffusers==0.25.1
onnxruntime==1.16.3
huggingface-hub==0.20.3
safetensors==0.4.2
peft
einops
omegaconf
controlnet_aux